@model IEnumerable<Hao2406.Models.MonHoc>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "DvhCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenMH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sotiet)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenMH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sotiet)
        </td>
        <td>
            @Html.ActionLink("DvhEdit", "DvhEdit", new { id=item.MaMH.Trim() }) |
            @Html.ActionLink("DvhDetails", "DvhDetails", new { id=item.MaMH.Trim() }) |
            @Html.ActionLink("DvhDelete", "DvhDelete", new { id=item.MaMH.Trim() })
        </td>
    </tr>
}

</table>
